In [1]:
path = "D:\\tools\\new_tdx\\vipdoc\\sz\\"
daypath = path+"lday\\"
minpath = path+"minline\\"

In [2]:
# test check if give the right value
print daypath, minpath

D:\tools\new_tdx\vipdoc\sz\lday\ D:\tools\new_tdx\vipdoc\sz\minline\

In [3]:
import sys
sys.path.append("..")
from realtime.stockdata import *

In [4]:
bydfile = daypath + "//sz002594.day"
byd_day = daysDataOfStock(bydfile)

In [5]:
byd_day.DF.index[-1]

Timestamp('2016-09-23 00:00:00')

In [6]:
start_end = byd_day.getDateRange()

In [7]:
start_end

(Timestamp('2011-06-30 00:00:00'), Timestamp('2016-09-23 00:00:00'))

In [8]:
bydminfile = minpath+"//sz002594.lc1"
byd_min = minuteOfStock(bydminfile)

### byd_min.dataframe.index[0]
### byd_min.dataframe.index[-1]
#Timestamp('2015-02-04 09:31:00')
#Timestamp('2016-09-23 15:00:00')

In [11]:
dt_range = byd_min.getDatetimeRange()
### (Timestamp('2015-02-04 09:31:00'), Timestamp('2016-09-23 15:00:00'))

### No luck ,it's an empty directory, no files
#### ztpath = "D:\\tools\\new_ztzq_v6\\vipdoc\\sz\\minline"
#### ztbydminfile = ztpath+"\\sz002594.lc1"

### generating the back test dataset 
** from minutes date range build the daily dataset date range
#### first slicing the date range , change the stockdata.py 
> add the function ,take out the dataframe by date range

In [38]:
# type(dt_range)  ===> tuple
# type(dt_range[0]) ===> pandas.tslib.Timestamp
#dt_range[0].date()   ===> datetime.date(2015, 2, 4)
start_dt = dt_range[0].date()
# byd_day.DF.index.dtype ===> dtype('<M8[ns]')
testDF = byd_day.DF[byd_day.DF.index.date >=  start_dt]

In [39]:
#start_dt
testDF.head()

             open   high    low  close        vol
2015-02-04  39.35  39.35  38.00  38.27   91584.83
2015-02-05  38.33  38.52  37.70  37.73   69629.99
2015-02-06  37.99  38.12  35.91  36.23  109645.33
2015-02-09  36.36  36.59  36.03  36.23   48008.13
2015-02-10  36.49  37.32  36.11  37.14   59569.94

### OK ,in line with the daily and minutes dataframe
#### question: how to locate the start point of  position in the daily DataFrmae

### type(byd_day.DF.iloc[0]) ===> pandas.core.series.Series
####  byd_day.DF.loc[start_dt]  ===>
 > python 
 open        39.35
 high        39.35
 low         38.00
 close       38.27
 vol      91584.83
 Name: 2015-02-04 00:00:00, dtype: float64
 
 * byd_day.DF.index.get_loc(start_dt) ===> 872  
 * byd_day.DF.iloc[byd_day.DF.index.get_loc(start_dt)] ===> still got above **

In [79]:
byd_day.DF.iloc[872:880]

             open   high    low  close        vol
2015-02-04  39.35  39.35  38.00  38.27   91584.83
2015-02-05  38.33  38.52  37.70  37.73   69629.99
2015-02-06  37.99  38.12  35.91  36.23  109645.33
2015-02-09  36.36  36.59  36.03  36.23   48008.13
2015-02-10  36.49  37.32  36.11  37.14   59569.94
2015-02-11  36.80  37.34  36.46  36.61   71370.68
2015-02-12  36.65  37.97  36.45  37.88  102848.68
2015-02-13  38.49  41.67  38.06  41.67  369387.35

In [84]:
 testDF = byd_day.DF.iloc[872-19:]

In [85]:
testDF[:20]

             open   high    low  close        vol
2015-01-08  38.93  39.20  38.38  38.51   68917.85
2015-01-09  38.54  39.50  38.35  38.44   85150.94
2015-01-12  38.48  40.33  38.48  39.48  113488.54
2015-01-13  40.00  40.89  39.50  40.32  133270.85
2015-01-14  40.30  40.70  39.00  39.48   69894.17
2015-01-15  39.60  39.88  38.58  39.08   59575.50
2015-01-16  39.11  39.68  38.79  39.57   72732.30
2015-01-19  39.42  40.43  37.79  38.31  108004.47
2015-01-20  38.44  39.35  38.28  38.95   87504.57
2015-01-21  39.09  39.78  38.95  39.48   92543.67
2015-01-22  39.65  39.95  39.20  39.81   95294.65
2015-01-23  39.95  40.96  39.88  40.11  141481.46
2015-01-26  40.30  40.80  39.56  40.10   95294.17
2015-01-27  40.10  40.40  39.60  40.00  106373.39
2015-01-28  40.21  40.90  39.88  40.40  108933.55
2015-01-29  40.54  40.59  39.42  39.76   92448.37
2015-01-30  39.70  39.98  38.25  38.26  101893.46
2015-02-02  38.00  38.91  37.50  38.47   52506.15
2015-02-03  39.19  39.30  38.61  38.73   58742.92
2015-02-04  39.35  39.35  38.00  38.27   91584.83

### | next compute daily trend/slope and cci 
#### make assumptions of initial account state  
    1. byd 4500 shares with initial market value, no cash , no profit
    2. starting back testing minute simulation
    3. PO to log and save to sqlite , a pair of PO write to sqlite position table
    4. mind that 1 package appoximately 18K rmb yuan to optimizing the tax and fee
    5. notice the limitations only valid/available number of stock could trande
    6. various cash/Total levels control, parameterized ,could be compare efficency afterwardsds
        6.1 new high should cut-win ,set tracing cut win point
        6.2 Market slump should be cut positon avoid further loss